<%- include('partials/head')%>
<body>
<%- include('partials/navBar')%>
    <h1>All the Cats</h1>
    <ul>
       <% for(let cat of cats){ %>
        <li><%= cat %></li>
        <% } %>
    </ul>

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.min.js"></script>
</body>
</html>