<%- include('partials/head')%>
<body>
<%- include('partials/navBar')%>
    <h1>I'm sorry we couldn't find this <%= subreddit %> subreddit</h1>

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.min.js"></script>
</body>
</html>