<%- include('partials/heaad')%>
<body>
<%- include('partials/navBar')%>
    <h1>Your Random number is <%= rand%></h1>
    <% if (rand % 2 == 0){ %>
        <h2>this is even</h2>
    <% } else{%>
    <h2>this is odd number</h2>
<%}%>

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.min.js"></script>
</body>
</html>